/* $mainGrey : grey; */
$darkBrown : #F0E5CF;
$lightBlue : #C8C6C6;
$skillsBG : #f3ead7;
$darkBlue : #4B6587;

$lightYellowBg : #eabe622e;

$bgFilter : rgb(25 90 173 / 48%);


/* $darkBrown : #D4B499;
$lightBlue : #889EAF;
$lightBrown : #F3D5C0;
$darkBlue : #506D84;
 */