.bio {
    position: relative;
    width: 100%;
    height: 80vh;
    background: $darkBrown;
    min-height: 845px;

    &__card {
        position: absolute;
        width: 726px;
        height: 775px;
        background: $lightBlue;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        max-width: 865px;


        &--text {
            position: absolute;
            top: 45px;
            right: 75px;
            width: 487px;
            font-size: 1.8rem;
        }
    }

    &__card::after {
        content: "";
        position: absolute;
        width: 400px;
        height: 470px;
        background: lightcyan;
        top: 108px;
        left: -293px;
        background-image: url(../images/man.jpg);
        background-size: cover;
        background-position: center center;
    }
}

